
.danMuQiang{background: #E0E0E0; height: auto; border-radius: 5px; margin-top: 2%;position: relative;overflow: hidden;}
#biaoDan{ margin-top: 5%;}

.ssss{margin-top: 5px;margin-bottom: 5px;}
.sda1{background: rgba(0,139,139,0.4);font-size: 25px; padding-bottom: 0px;padding-top: 0px;
	margin-top: 0px;margin-bottom: 0px; border: 0px;}
.sda2{position:absolute; left: 100%;z-index: 2;top:0px; }
body{background:#1e68b2;}




